################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/Videos
/source
/Searches
/Saved Games
/Pictures
/OneDrive
/ntuser.ini
/NTUSER.DAT{00982034-d661-11eb-a425-e4a7a09a9f7e}.TMContainer00000000000000000002.regtrans-ms
/NTUSER.DAT{00982034-d661-11eb-a425-e4a7a09a9f7e}.TMContainer00000000000000000001.regtrans-ms
/NTUSER.DAT{00982034-d661-11eb-a425-e4a7a09a9f7e}.TM.blf
/ntuser.dat.LOG2
/ntuser.dat.LOG1
/NTUSER.DAT
/Music
/Links
/Jedi
/IntelGraphicsProfiles
/git
/Favorites
/edb_pgjdbc.exe
/eclipse-workspace
/eclipse
/Downloads
/Documents
/Desktop
/Contacts
/Cisco Packet Tracer 8.0
/Bibliothèque calibre
/AppData
/Angular-12-Spring-Boot-CRUD-Full-Stack-App
/3D Objects
/.vscode
/.viminfo
/.sts4
/.ssh
/.spyder-py3
/.packettracer
/.p2
/.nuget
/.nbi
/.matplotlib
/.m2
/.librarymanager
/.lesshst
/.lemminx
/.keras
/.ipython
/.ionic
/.gitconfig
/.eclipse
/.dotnet
/.designer
/.continuum
/.config
/.condarc
/.conda
/.cache
/.bash_history
/.angular-config.json
